html, body{
    margin: 0;
    padding: 0;
}
h1
{
    color: #00FFFF;
    text-align: centre;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;     
}
#link { color: 	#32CD32}
body{
    background-color: black;
    color: white;
    padding: 20px;
}